body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.container {
    width: 900px;
    margin: auto;
    padding: 20px;
    border: 10px solid rgb(160, 191, 248);
}

h1 {
    margin: 0 auto;
}

h2,
h3 {
    margin-top: 0;
}

.head {
    display: flex;
}

.head h3 {
    color: gray;
}

.avatar {
   width: 120px;
   border-radius: 10px;
}